extends layout

block content
  div(class="grid-container grid-container__first grid-container--border")
    div(class="line line--big")
      p(class="team team__1 team__1--live text text--bold text--big text--uppercase") #{data.team1}
    div(class="line line--big")
      p(class="score score__1 score__1--live text text--bold text--xtrabig") #{data.score1}
    div(class="line line--big")
      p(class="score score__dash text text--bold text--xtrabig") -
    div(class="line line--big")
      p(class="score score__2 score__2--live text text--bold text--xtrabig") #{data.score2}
    div(class="line line--big")
      p(class="team team__2 team__2--live text text--bold text--big text--uppercase") #{data.team2}
  div(class="grid-container grid-container__second grid-container--border")
    div
    div(class="line line--big")
      p(class="shots shots__1 shots__1--live text text--bold text--big text--team1") #{data.shots1}
    div(class="line line--big")
      p(class="shots text text--bold text--big text--uppercase") Total Shots
    div(class="line line--big")
      p(class="shots shots__2 shots__2--live text text--bold text--big text--team2") #{data.shots2}
    div
    div
    div
      p(class="fouls fouls__1 fouls__1--live text text--bold text--big text--team1") #{data.fouls1}
    div
      p(class="fouls text text--bold text--big text--uppercase") Fouls
    div
      p(class="fouls fouls__2 fouls__2--live text text--bold text--big text--team2") #{data.fouls2}
    div
  div(class="grid-container grid-container__third")
    div
      p(class="text text--uppercase") Realtime updates
    div
    div(class="updateAfter updateAfter--live")
    if data.updates != null
      each update in data.updates
        div
        div
          p(class="text") #{update}
        div